fastapi==0.118.0
uvicorn[standard]==0.37.0
pydantic==2.11.9
boto3==1.40.47
typer==0.19.2
python-multipart==0.0.20
    
alembic==1.16.5
sqlalchemy==2.0.43

psycopg2-binary==2.9.10
pgvector==0.4.1
sqlite-vec
PyJWT==2.10.1

langchain==1.2.15
langchain-community==0.4.1
rank-bm25==0.2.2
dashscope==1.26.3
langgraph==1.1.8
langgraph-cli[inmem]==0.4.23

langchain-deepseek==1.0.1
langchain-openai==1.1.16
langchain-anthropic==1.4.1
